<!-- INFO
TEXTBOX*: lENGUAJE
TEXTBOX*: Nivel
IMPUT FILE: Certificado -->
<!-- TODO revisar ids -->
{% extends 'base.html' %}

{% block mainContent %}
{{keyValue}}
<div class="foreign_container w80 container shadow pad-2rem">
    <h1 class="">Formulario de registro de idioma</h1>
    <hr class="bg-color-darker-blue mar-bot-3rem">

    <h2 class="mar-bot-1rem">Datos del idioma</h2>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
    <label class="dis-block font-16pt" for="language-name">Idioma <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="language-name"required>
    <label class="dis-block font-16pt" for="language-lvl">Lvl <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="password" id="language-lvl"required>
    <label class="dis-block font-16pt" for="language-document">Inserte un documento acreditativo <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="file" id="language-document"required>
</div>
{% endblock %}