{% extends 'base.html' %}

{% block mainContent %}
<div class="foreign_container w80 container shadow pad-2rem">
    <h1 class="">Formulario de registro de oferta</h1>
    <hr class="bg-color-darker-blue mar-bot-3rem">

    <h2 class="mar-bot-1rem">Datos de oferta</h2>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">

    <form class="dis-grid" action="{{ url_for(request.endpoint) }}" method="POST">
        <label class="dis-block font-16pt" for="offer-workplace-name">Nombre del centro de trabajo <span>*</span></label>
        <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="offer-workplace-name" name="offer-workplace-name" required>
        <label class="dis-block font-16pt" for="offer-workplace-address">Dirección del centro de trabajo <span>*</span></label>
        <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="offer-workplace-address" name="offer-workplace-address" required>

        <h3 class="mar-bot-1rem">Datos de contacto</h3>
        <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
        <label class="dis-block font-16pt" for="offer-contact-name">Nombre de contacto <span>*</span></label>
        <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="offer-contact-name" name="offer-contact-name" required>
        <label class="dis-block font-16pt" for="offer-contact-phone">Teléfono de contacto <span>*</span></label>
        <input class="w60 pad-input font-14pt mar-bot-2rem" type="tel" id="offer-contact-phone" name="offer-contact-phone" minlength="9" required>
        <label class="dis-block font-16pt" for="offer-contact-email">Correo de contacto <span>*</span></label>n
        <input class="w60 pad-input font-14pt mar-bot-2rem" type="email" id="offer-contact-email" name="offer-contact-email" required>
        <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
        <div class="font-14pt custom-cr-input mar-bot-2rem" onclick="showPNAData(this)">
            ¿Desea añadir otro contacto adicional?
            <input type="checkbox" id="pna_cb">
            <span class="checkmark"></span>
        </div>
        <div id="extra-data" class="dis-grid dis-none">
            <label class="dis-block font-16pt" for="offer-contact-name-2">Nombre de contacto secundario <span>*</span></label>
            <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="offer-contact-name-2" name="offer-contact-name-2" required>
            <label class="dis-block font-16pt" for="offer-contact-phone-2">Teléfono de contacto secundario <span>*</span></label>
            <input class="w60 pad-input font-14pt mar-bot-2rem" type="tel" id="offer-contact-phone-2" name="offer-contact-phone-2" minlength="9" required>
            <label class="dis-block font-16pt" for="offer-contact-email-2">Correo de contacto secundario <span>*</span></label>n
            <input class="w60 pad-input font-14pt mar-bot-2rem" type="email" id="offer-contact-email-2" name="offer-contact-email-2" required>
        </div>

        <h3 class="mar-bot-1rem">Datos de demanda de empleo</h3>
        <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
        <label class="dis-block font-16pt" for="offer-contact-name-2">Categoría profesional <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Titulación específica  <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Cantidad de puestos vacantes <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Tipo de jornada <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Turno <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Horario <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Salario mensual <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Tipo de contrato <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Vacaciones <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Experiencia <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Idiomas <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Otros <span>*</span></label>
        <label class="dis-block font-16pt" for="offer-contact-name-2">Nombre de contacto secundario <span>*</span></label>
        <label class="dis-block font-16pt mar-bot-1rem" for="rbgroup-car">Vehículo propio</label><
        <div id="rbgroup-car" class="mar-bot-2rem">
            <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-car', this)">
                No
                <input class="rbgroup-car" type="radio" name="rb-group-car" id="rbgroup-car-rb1" value="n" checked>
                <span class="radiomark"></span>
            </label>
            <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-car', this)">
                Si
                <input class="rbgroup-car" type="radio" name="rb-group-car" id="rbgroup-car-rb2" value="y">
                <span class="radiomark"></span>
            </label>
        </div>
        <label class="dis-block font-16pt mar-bot-1rem" for="rbgroup-mov">Movilidad geográfica</label>
        <div id="rbgroup-mov" class="mar-bot-2rem">
            <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-mov', this)">
                No
                <input class="rbgroup-mov" type="radio" name="rb-group-mov" id="rbgroup-mov-rb1" value="n" checked>
                <span class="radiomark"></span>
            </label>
            <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-mov', this)">
                Si
                <input class="rbgroup-mov" type="radio" name="rb-group-mov" id="rbgroup-mov-rb2" value="y">
                <span class="radiomark"></span>
            </label>
        </div>


        <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
        <p class="">Los campos con <span class="font-14pt">*</span> son obligatorios</p>
        <div class="w80 dis-flex flex-right">
            <input class="w20 pad-o5rem font-16pt" type="submit" value="Enviar &rarr;">
        </div>
        {% if error %}
            <p><span>{{ error }}</span></p>
        {% endif %}
    </form>
</div>
{% endblock %}