{% extends 'base.html' %}

{% block mainContent %}
<div class="foreign_container w80 container shadow pad-2rem">
    <h1 class="">Perfil</h1>
    <hr class="bg-color-darker-blue mar-bot-3rem">
    <!-- check if context is defined-->
    {% if context is defined and not none %}
        <h2 class="mar-bot-1rem">Datos de cuenta</h2>
        <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
        <!-- check if keyvalue 'user' is empty (no data to display)-->
        {% if context['user'] is not none %}
            <label class="dis-block font-16pt">Correo electrónico :</label>
            <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="user-email" name="user-email" value="{{ context['user']['email'] }}" disabled>
        {% else %}
            <h2>No se ha podido cargar la información de cuenta</h2>
        {% endif %}
        <!-- check if context has the keyvalue 'member' -->
        {% if 'member' in context %}
            <h2 class="mar-bot-1rem">Datos personales</h2>
            <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
            <!-- check if keyvalue 'member' is empty (no data to display)-->
            {% if context['member'] is not none %}
                <label class="dis-block font-16pt">Nombre :</label>
    <!--            <p class="mar-bot-2rem">{{ context['member']['name'] }}</p>-->
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-name" name="member-name" value="{{ context['member']['name'] }}" disabled>
                <label class="dis-block font-16pt">Apellidos :</label>
    <!--            <p class="mar-bot-2rem">{{ context['member']['surname'] }}</p>-->
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-surname" name="member-surname" value="{{ context['member']['surname'] }}" disabled>
                <label class="dis-block font-16pt">Documento de identificación (DNI/NIE) :</label>
    <!--            <p class="mar-bot-2rem">{{ context['member']['dni'] }}</p>-->
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-dni" name="member-dni" value="{{ context['member']['dni'] }}" disabled>
                <label class="dis-block font-16pt">Sexo :</label>
                <p class="mar-bot-2rem">{{ context['member']['gender'] }}</p>
                <label class="dis-block font-16pt" >Foto de perfil :</label>
                <p class="mar-bot-2rem">{{ context['member']['profilepic'] }}</p>
                <label class="dis-block font-16pt">Fecha de nacimiento :</label>
    <!--            <p class="mar-bot-2rem">{{ context['member']['birthdate'] }}</p>-->
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-birthdate" name="member-birthdate" value="{{ context['member']['birthdate'] }}" disabled>
                <label class="dis-block font-16pt" >Teléfono móvil :</label>
    <!--            <p class="mar-bot-2rem">{{ context['member']['mobile'] }}</p>-->
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-mobile" name="member-mobile" value="{{ context['member']['mobile'] }}" disabled>
                <label class="dis-block font-16pt" >Teléfono fijo :</label>
    <!--            <p class="mar-bot-2rem">{{ context['member']['landline'] }}</p>-->
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-landline" name="member-landline" value="{{ context['member']['landline'] }}" disabled>
                <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
                <label class="dis-block font-16pt" >Dirección :</label>
    <!--            <p class="mar-bot-2rem">{{ context['member']['address'] }}</p>-->
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-address" name="member-address" value="{{ context['member']['address'] }}" disabled>
                <label class="dis-block font-16pt" >C.P. :</label>
    <!--            <p class="mar-bot-2rem">{{ context['member']['cp'] }}</p>-->
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-cp" name="member-cp" value="{{ context['member']['cp'] }}" disabled>
                <label class="dis-block font-16pt" >Ciudad :</label>
    <!--            <p class="mar-bot-2rem">{{ context['member']['city'] }}</p>-->
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-city" name="member-city" value="{{ context['member']['city'] }}" disabled>
                <label class="dis-block font-16pt" >Provincia :</label>
    <!--            <p class="mar-bot-2rem">{{ context['member']['province'] }}</p>-->
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-province" name="member-province" value="{{ context['member']['province'] }}" disabled>
                {% if context['member']['pna'] %}
                    <label class="dis-block font-16pt" >Dirección de notificaciones postales :</label>
    <!--                <p class="mar-bot-2rem">{{ context['member']['pna']['address'] }}</p>-->
                    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-pna-address" name="member-pna-address" value="{{ context['member']['pna']['address'] }}" disabled>
                    <label class="dis-block font-16pt" >C.P. de notificaciones postales :</label>
    <!--                <p class="mar-bot-2rem">{{ context['member']['pna']['cp'] }}</p>-->
                    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-pna-cp" name="member-pna-cp" value="{{ context['member']['pna']['cp'] }}" disabled>
                    <label class="dis-block font-16pt" >Ciudad de notificaciones postales :</label>
    <!--                <p class="mar-bot-2rem">{{ context['member']['pna']['city'] }}</p>-->
                    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-pna-city" name="member-pna-city" value="{{ context['member']['pna']['city'] }}" disabled>
                    <label class="dis-block font-16pt" >Provincia de notificaciones postales :</label>
    <!--                <p class="mar-bot-2rem">{{ context['member']['pna']['province'] }}</p>-->
                    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-pna-province" name="member-pna-province" value="{{ context['member']['pna']['province'] }}" disabled>
                {% endif %}
                <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
                <label class="dis-block font-16pt mar-bot-1rem">Vehículo propio :</label>
                <p class="mar-bot-2rem">{{ context['member']['vehicle'] }}</p>
                <label class="dis-block font-16pt mar-bot-1rem">Disponibilidad geográfica :</label>
                <p class="mar-bot-2rem">{{ context['member']['mov'] }}</p>
                <label class="dis-block font-16pt">Grado de discapacidad :</label>
                <p class="mar-bot-2rem">{{ context['member']['handicap'] }}</p>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-handicap" name="member-handicap" value="{{ context['member']['handicap'] }}" disabled>
                <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
                <div class="font-14pt custom-cr-input mar-bot-2rem">
                Activar
                    <input type="checkbox" name="active_cb" id="active">
                    <span class="checkmark"></span>
                </div>
                <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
                <div class="font-14pt custom-cr-input mar-bot-2rem">
                Verifacar
                   <input type="checkbox" name="verify_cb" id="verify">
                   <span class="checkmark"></span>
               </div>
            {% else %}
                <h2 class="mar-bot-1rem">No se ha podido cargar la información de miembro</h2>
            {% endif %}
        {% else %}
            <h2 class="mar-bot-1rem">No somos nadie</h2>
        {% endif %}
        <!------COMPROBACIOOOONNNNNNNNN DE SUBMARINO ROJIBLANCO FIN------------------------>
    {% else %}
        <h2 class="mar-bot-1rem">No se ha podido cargar la información de usuario</h2>
    {% endif %}
</div>
{% endblock %}