{% extends 'base.html' %}

{% block mainContent %}
<div class="dis-grid container w80 pad-2rem shadow mar-bot-3rem">
  <h1>Política de Privacidad</h1>
  <hr class="bg-color-darker-blue mar-bot-2rem">
  <p>(Esta información se ha sacado de la página ya existente de <a class="link-on-white" href="http://www.aaahos-tur.com">aaahos-tur.com</a>)</p>
  <h3 class="mar-bot-1rem">Responsable del tratamiento</h3>
  <p class="w80 mar-bot-1rem">Para su conocimiento, y a los efectos legalmente prevenidos, le informamos que esta asociación recogerá y tratará sus datos personales con las siguientes <strong>finalidades</strong>:</p>
  <ul class="pad-input w80 mar-bot-1rem">
    <li>Envío a todos los asociados del Boletín/Newsletter/Acciones promocionales de la Asociación y de terceros vinculados a esta, por cualquier medio presente o futuro, incluyendo, sms, correo electrónico, etc.</li>
    <li>Responder a cualquier consulta que nos formule y para gestionar los encargos o solicitudes en los formularios de recogida de datos.</li>
    <li>Acreditar la identidad de nuestros asociados y su pertenencia a la Asociación si algún organismo oficial así lo requiriera.</li>
    <li>La conservación de una memoria histórica de miembros en interés legítimo de los intereses y finalidades de la Asociación.</li>
    <li>Gestionar los recibos bancarios correspondientes a las cuotas de socios y de los servicios extras solicitados.</li>
    <li>A los socios que lo autoricen participar en la bolsa de trabajo.</li>
    <li>A los socios que lo autoricen la incorporación de los datos empresariales correspondientes.</li>
    <li>A los socios que lo autoricen a los convenios o subvenciones existentes.</li>
  </ul>
  <p class="w80 mar-bot-2rem">
    Todos los datos solicitados tienen carácter obligatorio, en caso de no ser facilitados, la ASOCIACIÓN ESPAÑOLA DE ANTIGUOS ALUMNOS DE ESCUELAS DE HOSTELERIA Y TURISMO no garantiza que los servicios prestados se ajusten completamente a sus necesidades.
  </p>
  <p class="w80 mar-bot-2rem">
    Los datos personales serán conservados durante un plazo de cinco años desde la finalización de su adhesión a la Asociación, excepto los datos identificativos y académicos básicos que serán mantenidos por razones históricas y estadísticas durante toda la vida útil de la propia Asociación. Sólo serán comunicados a terceros por cumplimiento legal o autorización del propio interesado.
  </p>
  <p class="w80 mar-bot-2rem">
    El usuario de la WEB <a class="link-on-white" href="mailto:asociacion@aaahos-tur.com">asociacion@aaahos-tur.com</a> será el único responsable de la veracidad y exactitud de los datos aportados, actuando la ASOCIACION ESPAÑOLA DE ANTIGUOS ALUMNOS DE ESCUELAS DE HOSTELERIA Y TURISMO de buena fe como mero prestador del servicio. En caso de haber facilitado datos falsos o de terceras personas sin mediar su consentimiento para ello la ASOCIACION ESPAÑOLA DE ANTIGUOS ALUMNOS DE ESCUELAS DE HOSTELERIA Y TURISMO se reserva el derecho a la destrucción inmediata de los citados datos a fin de proteger el derecho del titular o titulares de los mismos.
  </p>
  <p class="w80 mar-bot-2rem">
    LEGITIMACION: Respecto a los fines específicos detallados, todos los datos personales de los socios son recogidos y tratados con la base legítima del consentimiento. Todos los datos solicitados son obligatorios para cumplir los fines sociales y las solicitudes. Respecto a los datos históricos, la base legal es el interés legítimo.
  </p>
  <p class="w80 mar-bot-2rem">
    DESTINATARIOS: Los datos personales sólo serán comunicados a terceros para cumplir con las obligaciones legales, por ejemplo la tributaría, o en la medida necesaria para la prestación de los servicios solicitados por el socio como eventos, convenios o bolsa de trabajo.
  </p>
  <p class="w80 mar-bot-2rem">
    MEDIDAS DE SEGURIDAD: ASOCIACION ESPAÑOLA DE ANTIGUOS ALUMNOS DE ESCUELAS DE HOSTELERIA Y TURISMO se compromete al cumplimiento de su obligación de secreto de los datos de carácter personal y de su deber de guardarlos y adoptará todas las medidas de índole técnica y organizativa para garantizar la seguridad de los datos de carácter personal y evitar su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que estén expuestos.
  </p>
  <p>
    El Sitio Web no utiliza cookies ni otros medios técnicos que permitan identificar a usuarios en concreto ni conocer datos de su navegación, sin que el usuario sea consciente.
  </p>
  <p class="w80 mar-bot-2rem">
    El sitio Web dispone de las medidas de seguridad de la información, generalmente utilizadas por ejemplo: firewalls, procedimientos de control de acceso y mecanismos criptográficos, con el objeto de evitar el acceso no autorizado a los datos facilitados.
  </p>
  <p class="w80 mar-bot-2rem">
    DERECHOS: Cualquier persona tiene derecho a revocar su consentimiento, solicitar el acceso a los datos personales que le conciernen, a solicitar su rectificación o supresión, a solicitar la limitación de su tratamiento, a oponerse a su tratamiento (si hay interés público o interés legítimo) y/o el derecho de portabilidad. En todos los casos podrá ejercer sus derechos por correo electrónico dirigido a <a class="link-on-white" href="mailto:asociacion@aaahos-tur.com">asociacion@aaahos-tur.com</a>, acompañado de documento de identidad. Cualquier persona puede presentar una reclamación ante la Agencia Española de Protección de Datos a través de la web <a class="link-on-white" href="www.agpd.es">www.agpd.es</a> en caso de considerar que sus derechos no han sido satisfechos.
  </p>
</div>
{% endblock %}