<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASOCIACIÓN ESPAÑOLA DE ANTIGUOS ALUMNOS DE LA ESCUELA DE HOSTELERÍA Y TURISMO</title>
    <link rel="stylesheet" href="../assets/css/aaahostur.css">
    <link rel="shortcut icon" href="../assets/resources/icon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
    <button onclick="goToTop()" id="up-btn" title="Inicio">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </button>
    <header id="up">
        <div id="header-decorator" class="nav primary-nav">
            <a href="index.html">
                <img id="logo" src="../static/resources/logo.png"
                    alt="aaahostur hosteleria turismo"/>
            </a>
            <h2 class="main-title">Asociación Española de Antiguos Alumnos de<br> Escuelas de Hostelería y Turismo</h2>
        </div>
        <nav id="navbar" class="nav navbar">
            <div class="left">
                <a id="navbar-logo" class="navbar-item" href="index.html">
                    <img class="logo" src="../static/resources/logo.png" alt="aaahostur hosteleria turismo">
                    <div class="yellow-title">AAAHOSTUR</div>
                </a>
            </div>
            <div class="center">
                <a href="#" class="navbar-item">Bolsa de Trabajo</a>
                <a href="#" class="navbar-item">Actividades</a>
                <a href="#" class="navbar-item">Cursos</a>
                <a href="#" class="navbar-item">Revista</a>
                <a href="#" class="navbar-item">Link a Escuelas</a>
                <a href="#" class="navbar-item">Contacto y Sugerencias</a>
            </div>
            <div class="right">
                <div class="user-box">
                    <img class="navbar-item" src="" alt="">
                    <div class="navbar-item">Iniciar sesión</div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="w80 container shadow pad-2rem">
            <!---->
            <h1 class="">Registrar Socio</h1>
            <hr class="bg-color-darker-blue mar-bot-3rem">
            <h2 class="mar-bot-1rem">Información personal</h2>
            <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
            <form class="dis-grid" action="" method="post">
                <label class="dis-block font-16pt" for="member-name">Nombre <span>*</span></label>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-name"required>
                <label class="dis-block font-16pt" for="member-surname">Apellidos <span>*</span></label>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-surname" required>
                <label class="dis-block font-16pt" for="member-dni">DNI/NIE <span>*</span></label>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-dni" required>
                <label class="dis-block font-16pt mar-bot-1rem" for="rbgroup-gender">Genero <span>*</span></label>
                <div id="rbgroup-gender" class="mar-bot-2rem">
                    <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-gender', this)">
                        Hombre
                        <input class="rbgroup-gender" type="radio" name="rb-group-gender" id="rbgroup-gender-rb1" value="H" checked>
                        <span class="radiomark"></span>
                    </label>                
                    <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-gender', this)">
                        Mujer
                        <input class="rbgroup-gender" type="radio" name="rb-group-gender" id="rbgroup-gender-rb2" value="M">
                        <span class="radiomark"></span>
                    </label>
                    <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-gender', this)">
                        Otro
                        <input class="rbgroup-gender" type="radio" name="rb-group-gender" id="rbgroup-gender-rb3" value="O">
                        <span class="radiomark"></span>
                    </label>
                </div>
                <label class="dis-block font-16pt" for="member-birthdate">Fecha de nacimiento <span>*</span></label>
                <input class="w20 pad-input font-14pt mar-bot-2rem" type="date" name="member-birthdate" id="member-birthdate" required>
                <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
                <label class="dis-block font-16pt" for="member-address">Dirección <span>*</span></label>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-address" required>
                <div class="w60 dis-flex mar-bot-2rem">
                    <div class="row">
                        <label class="dis-block font-16pt" for="member-cp">C.P. <span>*</span></label>
                        <input class="pad-input font-14pt" type="number" id="member-cp" required>
                    </div>
                    <div class="row">
                        <label class="dis-block font-16pt" for="member-city">Ciudad <span>*</span></label>
                        <input class="pad-input font-14pt" type="text" id="member-city" required>
                    </div>
                </div>
                <label class="dis-block font-16pt" for="member-province">Provincia <span>*</span></label>
                <input class="w60 pad-input font-14pt mar-bot-1rem" type="text" id="member-province" required>
                <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
                <label class="font-14pt custom-cr-input mar-bot-2rem" onclick="showPNAData(this)">
                    ¿Recibe el correo en otra dirección?
                    <input type="checkbox" name="pna_cb" id="pna_cb">
                    <span class="checkmark"></span>
                </label>
                <div id="pna_data" class="dis-grid dis-none">
                    <label class="dis-block font-16pt" for="member-pna-address">Dirección a efectos de notificaciones
                        postales <span>*</span></label>
                    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-pna-address">
                    <div class="w60 dis-flex mar-bot-2rem">
                        <div class="row">
                            <label class="dis-block font-16pt" for="member-pna-cp">C.P. a efectos de notificaciones
                                postales <span>*</span></label>
                            <input class="pad-input font-14pt" type="number" id="member-pna-cp">
                        </div>
                        <div class="row">
                            <label class="dis-block font-16pt" for="member-pna-city">Ciudad a efectos de notificaciones
                                postales <span>*</span></label>
                            <input class="pad-input font-14pt" type="text" id="member-pna-city">
                        </div>
                    </div>
                    <label class="dis-block font-16pt" for="member-pna-province">Provincia a efectos de notificaciones
                        postales <span>*</span></label>
                    <input class="w60 pad-input font-14pt mar-bot-1rem" type="text" id="member-pna-province">
                </div>
                <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
                <label class="dis-block font-16pt" for="member-mobile">Teléfono móvil <span>*</span></label>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="number" name="member-mobile" id="member-mobile" minlength="9" required>
                <label class="dis-block font-16pt" for="member-landline">Teléfono fijo</label>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="number" name="member-landline" id="member-landline" minlength="9">
                <label class="dis-block font-16pt mar-bot-1rem" for="member-profilepic">Foto de perfil</label>
                <input class="w80 font-14pt mar-bot-2rem" type="file" name="member-profilepic" id="member-profilepic">
                <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
                <label class="dis-block font-16pt mar-bot-1rem" for="rbgroup-car">Vehículo propio</label>
                <div id="rbgroup-car" class="mar-bot-2rem">
                    <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-car', this)">
                        No
                        <input class="rbgroup-car" type="radio" name="rb-group-car" id="rbgroup-car-rb1" value="n" checked>
                        <span class="radiomark"></span>
                    </label>                
                    <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-car', this)">
                        Si
                        <input class="rbgroup-car" type="radio" name="rb-group-car" id="rbgroup-car-rb2" value="y">
                        <span class="radiomark"></span>
                    </label>
                </div>
                <label class="dis-block font-16pt mar-bot-1rem" for="rbgroup-mov">Movilidad geográfica</label>
                <div id="rbgroup-mov" class="mar-bot-2rem">
                    <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-mov', this)">
                        No
                        <input class="rbgroup-mov" type="radio" name="rb-group-mov" id="rbgroup-mov-rb1" value="n" checked>
                        <span class="radiomark"></span>
                    </label>                
                    <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-mov', this)">
                        Si
                        <input class="rbgroup-mov" type="radio" name="rb-group-mov" id="rbgroup-mov-rb2" value="y">
                        <span class="radiomark"></span>
                    </label>
                </div>
                <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
                <label class="font-14pt custom-cr-input mar-bot-2rem" onclick="showHandicapData(this)">
                    ¿Tiene alguna discapacidad?
                    <input type="checkbox" name="handicap_cb" id="handicap_cb">
                    <span class="checkmark"></span>
                </label>
                <div id="handicap_data" class="dis-grid dis-none">
                    <label class="dis-block font-16pt" for="member-handicap">Indica el grado <span>*</span></label>
                    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-handicap">
                </div>
                <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
                <p class="">Los campos con <span class="font-14pt">*</span> son obligatorios</p>
                <div class="w80 dis-flex flex-right">
                    <input class="w20 pad-o5rem font-16pt" type="submit" value="Enviar &rarr;">
                </div>
            </form>
        <!---->
        </div>
    </main>
    <footer class="nav">
        <div class="nav center b2-top">
            <div class="foo-col">
                <h2 class="yellow-title">Sobre nosotros</h2>
                <p>Asociación Española de Antiguos Alumnos de las Escuelas de Hostelería y Tursimo</p>
                <ul class="social-links">
                    <li class="icon">
                        <a href="#">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="icon">
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="foo-col">
                <h2 class="yellow-title">Links de Interés</h2>
                <ul class="links">
                    <li>
                        <h4><a href="#">Contáctanos</a></h4>
                    </li>
                    <li>
                        <h4><a href="#">Escuelas</a></h4>
                    </li>
                    <li>
                        <h4><a href="#">Nuestros Servicios</a></h4>
                    </li>
                </ul>
            </div>
            <div class="foo-col">
                <h2 class="yellow-title">Contactos</h2>
            </div>
        </div>
        <div class="nav darker-blue p1-tb b2-top">
            <ul class="latest-foo">
                <li>© 2023</li>
                <li class="yellow-title not-show-on-responsive">&#8212;</li>
                <li><a href="#">EMPRESA</a></li>
                <li class="yellow-title not-show-on-responsive">&#8212;</li>
                <li>Todos los derechos reservados</li>
                <li class="yellow-title not-show-on-responsive">&#8212;</li>
                <li><a href="#">Aviso legal</a></li>
                <li class="yellow-title not-show-on-responsive">&#8212;</li>
                <li><a href="#">Política de Privacidad</a></li>
            </ul>
        </div>
    </footer>
    <script src="../static/js/site.js"></script>
</body>

</html>