{% extends 'base.html' %}

{% block mainContent %}
<div class="container w80 shadow pad-2rem dis-flex pad-top-4rem">
    <div class="w80 mar-bot-1rem">
        <h1 class="black-title">Escuelas pertenecientes a la asosación</h1>
        <h2 class="black-title2">Escuela Superior de Hostelería y Turismo de Madrid</h2>
        <div class = "school">
            <div class="w45">
                <img class="imgEscuela" id="office" src="{{ url_for('static', filename='resources/EscuelaHosteleríaTurísmosLago.jpg') }}" alt="Escuela Superior de Hostelería y Turismo de Madrid">
                <p class="text-pictureOffice">Fundación: 1945</p>
            </div>
            <div>
                <dl>
                    <dt class="yellow-title2">FUNCIONAMIENTO</dt>
                    <dd class="darker-blue-text3">DE OCTUBRE A JUNIO</dd>
                    <dt class="yellow-title2">COMIDAS Y DISPONE DE TIENDA</dt>
                    <dd class="darker-blue-text3">DE 14:15 A 17:00</dd>
                    <dt class="yellow-title2">Precio</dt>
                    <dd class="darker-blue-text3">DEPENDE DEL TIPO DE MENÚ, EL DÍA Y SI ES COMIDA O CENA</dd>
                    <dt class="yellow-title2">Reserva</dt>
                    <dd class="darker-blue-text3">DE LUNES A VIERNES (DE 09:30 A 12:30) 914 79 71 34</dd>                   
                </dl>
            </div>
        </div>  
        <p class="darker-blue-text"><a class="linkEscuela" href="https://www.google.com/maps?ll=40.415235,-3.7326&z=14&t=m&hl=en&gl=US&mapclient=embed&cid=14319871585176726515" target="_blank">Como llegar</a></p>
        <p class="darker-blue-text"><a class="linkEscuela" href="https://www.escuelasuperior-hosteleriaturismo-madrid.com" target="_blank">Web</a></p>
        <hr class="w90 bg-color-not-that-yellow mar-bot-2rem">
        <h2 class="black-title2">Escuela de Hostelería del Sur</h2>
        <div class = "school">
            <div class="w45">
                <img class="imgEscuela" id="office" src="{{ url_for('static', filename='resources/EscuelaSur.jpg') }}" alt="Escuela de Hostelería del Sur">
                <p class="text-pictureOffice">Fundación: 1987</p>
            </div>
            <div>
                <dl>
                    <dt class="yellow-title2">FUNCIONAMIENTO</dt>
                    <dd class="darker-blue-text3">DE OCTUBRE A JUNIO</dd>
                    <dt class="yellow-title2">COMIDAS Y NO DISPONE DE TIENDA</dt>
                    <dd class="darker-blue-text3">DE 14:15 A 17:00</dd>
                    <dt class="yellow-title2">Precio</dt>
                    <dd class="darker-blue-text3">PRECIO CUBIERTO EN (2018): 15 €</dd>
                    <dt class="yellow-title2">Reserva</dt>
                    <dd class="darker-blue-text3">INF./RESERVAS: 917 85 58 77</dd>                   
                </dl>
            </div>
        </div>  
        <p class="darker-blue-text"><a class="linkEscuela" href="https://www.google.com/maps/place/Escuela+Hostelería+Vallecas/@40.3764134,-3.6639276,18.5z/data=!3m1!5s0xd4225d50b4ba463:0x4f4d6d3667a80ce3!4m15!1m8!3m7!1s0xd42267f78ec58af:0xdbe5f34ffad620fe!2sC.+de+Martos,+15,+28053+Madrid,+Spain!3b1!8m2!3d40.3760995!4d-3.6627596!16s%2Fg%2F11bw44hlqr!3m5!1s0xd4225d50a4829ed:0x248e92ac4ee918ba!8m2!3d40.3758756!4d-3.6608819!16s%2Fg%2F11bwl3x8cs?hl=en&entry=ttu" target="_blank">Como llegar</a></p>
        <p class="darker-blue-text"><a class="linkEscuela" href="http://www.fundacionjosemariadellanos.es" target="_blank">Web</a></p>
        <hr class="w90 bg-color-not-that-yellow mar-bot-2rem">
        <h2 class="black-title2">I.E.S. María de Zayas y Sotomayor</h2>
        <div class = "school">
            <div class="w45">
                <img class="imgEscuela" id="office" src="{{ url_for('static', filename='resources/EscuelaMariaZayas.jpg') }}" alt="I.E.S. María de Zayas y Sotomayor">
                <p class="text-pictureOffice">Fundación: ?</p>
            </div>
            <div>
                <dl>
                    <dt class="yellow-title2">FUNCIONAMIENTO</dt>
                    <dd class="darker-blue-text3">DE OCTUBRE A MAYO</dd>
                    <dt class="yellow-title2">COMIDAS Y  DISPONE DE TIENDA</dt>
                    <dd class="darker-blue-text3">13:30 A 15:15</dd>
                    <dt class="yellow-title2">Precio</dt>
                    <dd class="darker-blue-text3">PRECIO CUBIERTO (2018): ENTRE 10 y 14 €</dd>
                    <dt class="yellow-title2">Reserva</dt>
                    <dd class="darker-blue-text3">INF./RESERVAS: 916 39 66 11</dd>                   
                </dl>
            </div>
        </div>  
        <p class="darker-blue-text"><a class="linkEscuela" href="https://www.google.com/maps/place/Instituto+de+Formación+Profesional+María+de+Zayas+y+Sotomayor+en+Majadahonda/@40.4766938,-3.8602208,17z/data=!3m1!4b1!4m6!3m5!1s0xd41846582414961:0xb7de74e24489f270!8m2!3d40.4766938!4d-3.8576405!16s%2Fg%2F1q5bqmw4r?hl=en&entry=ttu" target="_blank">Como llegar</a></p>
        <p class="darker-blue-text"><a class="linkEscuela" href="http://www.zayasfp.org" target="_blank">Web</a></p>
        <hr class="w90 bg-color-not-that-yellow mar-bot-2rem">
        <h2 class="black-title2">Instituto tecnológico Fuenllana:</h2>
        <div class = "school">
            <div class="w45">
                <img class="imgEscuela" id="office" src="{{ url_for('static', filename='resources/EscuelaFuenllana.jpg') }}" alt="Instituto tecnológico Fuenllana">
                <p class="text-pictureOffice">Fundación: segundo cuarto de siglo XXI</p>
            </div>
            <div>
                <dl>
                    <dt class="yellow-title2">FUNCIONAMIENTO</dt>
                    <dd class="darker-blue-text3">DE OCTUBRE A MAYO</dd>
                    <dt class="yellow-title2">COMIDAS Y NO DISPONE DE TIENDA</dt>
                    <dd class="darker-blue-text3">DESYUNOS: MIERCOLES DE 10:55 A 11:30 EN (NOVIEMBRE-ENERO)</dd>
                    <dd class="darker-blue-text3">COMIDAS: JUEVES Y VIERNES DE 14:15 A 16:15 EN (OCTUBRE-FEBRERO)</dd>
                    <dd class="darker-blue-text3">COMIDAS: MIERCOLES JUEVES Y VIERNES DE 14:15 A 16:15 EN (FEBRERO-MAYO)</dd>
                    <dt class="yellow-title2">Precio</dt>
                    <dd class="darker-blue-text3">PRECIO CUBIERTO (2018): MENÚ BISTRO 17€; MENÚ DEGUSTACIÓN 20€.</dd>
                    <dt class="yellow-title2">Reserva</dt>
                    <dd class="darker-blue-text3">INF./RESERVAS: 916 14 47 29 EXT 730</dd>                   
                </dl>
            </div>
        </div>  
        <p class="darker-blue-text"><a class="linkEscuela" href="https://www.google.es/maps/place/Fuenllana+-+Colegio+concertado+bilingüe+en+Alcorcón/@40.337262,-3.8582475,19.75z/data=!3m1!5s0xd418e8f64dcfe03:0x6b244ee25d99e031!4m15!1m8!3m7!1s0xd418e8f70adf413:0x3ef89fe49efe7219!2sTr.ª+Fuente+Cisneros,+1,+28922+Alcorcón,+Madrid!3b1!8m2!3d40.337244!4d-3.858293!16s%2Fg%2F11b8z01whp!3m5!1s0xd418e8f6362b441:0x2acda79633221259!8m2!3d40.3373073!4d-3.8583204!16s%2Fg%2F1q5bn7z8_?entry=ttu" target="_blank">Como llegar</a></p>
        <p class="darker-blue-text"><a class="linkEscuela" href="https://it.fuenllana.net" target="_blank">Web</a></p>
        <hr class="w90 bg-color-not-that-yellow mar-bot-2rem">
        <h2 class="black-title2">Escuela de Hostelería y Turismo de Alcalá de Henares</h2>
        <div class = "school">
            <div class="w45">
                <img class="imgEscuela" id="office" src="{{ url_for('static', filename='resources/EscuelaAlcala.jpg') }}" alt="Escuela de Hostelería y Turismo de Alcalá de Henares">
                <p class="text-pictureOffice">Fundación: ?</p>
            </div>
            <div>
                <dl>
                    <dt class="yellow-title2">FUNCIONAMIENTO</dt>
                    <dd class="darker-blue-text3">DE OCTUBRE A JUNIO</dd>
                    <dt class="yellow-title2">COMIDAS Y NO DISPONE DE TIENDA</dt>
                    <dd class="darker-blue-text3">DE DE 14:00 A 16:00</dd>
                    <dt class="yellow-title2">Precio</dt>
                    <dd class="darker-blue-text3">PRECIO CUBIERTO (2018): 13€.</dd>
                    <dt class="yellow-title2">Reserva</dt>
                    <dd class="darker-blue-text3">INF./RESERVAS: DE MARTES A VIERNES (DE 11:30 A 13:30) 918 80 23 13</dd>                   
                </dl>
            </div>
        </div>  
        <p class="darker-blue-text"><a class="linkEscuela" href="https://www.google.com/maps/place/Escuela+de+Hosteleria+y+Turismo/@40.4996421,-3.337278,18.5z/data=!4m15!1m8!3m7!1s0xd424eac630806c3:0x6bf6e03e90cc292!2sC.+Jadraque,+1,+28805+Alcalá+de+Henares,+Madrid,+Spain!3b1!8m2!3d40.4995644!4d-3.3361602!16s%2Fg%2F11cncj9ccc!3m5!1s0xd424eac6446dd93:0xbc95236689ab46f8!8m2!3d40.4993928!4d-3.3360032!16s%2Fg%2F11g6wxk2sf?hl=en&entry=ttu" target="_blank">Como llegar</a></p>
        <p class="darker-blue-text"><a class="linkEscuela" href="https://www.ehtalcala.com" target="_blank">Web</a></p>
        <hr class="w90 bg-color-not-that-yellow mar-bot-2rem">
        <h2 class="black-title2">C.I.F.P Escuela de Hostelería y Turismo "Simone Ortega</h2>
        <div class = "school">
            <div class="w45">
                <img class="imgEscuela" id="office" src="{{ url_for('static', filename='resources/EscuelaSimeone.jpg') }}" alt="Escuela de Hostelería y Turismo Simone Ortega">
                <p class="text-pictureOffice">Fundación: ?</p>
            </div>
            <div>
                <dl>
                    <dt class="yellow-title2">FUNCIONAMIENTO</dt>
                    <dd class="darker-blue-text3">DE OCTUBRE A JUNIO</dd>
                    <dt class="yellow-title2">COMIDAS Y NO DISPONE DE TIENDA</dt>
                    <dd class="darker-blue-text3">COMIDAS: DE 14:00 A 16:20</dd>
                    <dd class="darker-blue-text3">CENAS: DE 20:00 A 22:00</dd>
                    <dt class="yellow-title2">Precio</dt>
                    <dd class="darker-blue-text3">PRECIO CUBIERTO (2018): 12€.</dd>
                    <dt class="yellow-title2">Reserva</dt>
                    <dd class="darker-blue-text3">INF./RESERVAS: DE 8:05 A 22:00 91 618 31 77</dd>               
                </dl>
            </div>
        </div>  
        <p class="darker-blue-text"><a class="linkEscuela" href="https://www.google.com/maps/place/CPIFP+Escuela+De+Hostelería+Y+Turismo+Simone+Ortega/@40.32168,-3.8830152,18.25z/data=!4m15!1m8!3m7!1s0xd418ddebffd644b:0x33fe4f9fea66abf9!2sC.+Pintor+Velazquez,+64,+28935+Móstoles,+Madrid,+Spain!3b1!8m2!3d40.3217019!4d-3.8820641!16s%2Fg%2F11c43vntb0!3m5!1s0xd418ddec49c1033:0xc11e5ea71f1607aa!8m2!3d40.3210767!4d-3.8817122!16s%2Fg%2F11btmqpjrd?hl=en&entry=ttu" target="_blank">Como llegar</a></p>
        <p class="darker-blue-text"><a class="linkEscuela" href="https://simoneortega.es" target="_blank">Web</a></p>
        <hr class="w90 bg-color-not-that-yellow mar-bot-2rem">
        <h2 class="black-title2"> I.E.S Alpajés (Aranjuez) : </h2>
        <div class = "school">
            <div class="w45">
                <img class="imgEscuela" id="office" src="{{ url_for('static', filename='resources/EscuelaAranjuez.jpg') }}" alt="Escuela de Hostelería y Turismo Simone Ortega">
                <p class="text-pictureOffice">Fundación: 91-92</p>
            </div>
            <div>
                <dl>
                    <dt class="yellow-title2">FUNCIONAMIENTO</dt>
                    <dd class="darker-blue-text3">DE OCTUBRE A PRIMEROS DE JUNIO EN CALENDARIO ESCOLAR.</dd>
                    <dt class="yellow-title2">COMIDAS Y NO DISPONE DE TIENDA</dt>
                    <dd class="darker-blue-text3">La entrada al comedor se realiza de 14:00 a 14:30</dd>
                    <dt class="yellow-title2">Precio</dt>
                    <dd class="darker-blue-text3">Miercoles y Viernes 12€</dd>
                    <dd class="darker-blue-text3">Martes y Jueves 14€</dd>
                    <dd class="darker-blue-text3">Grupos 14€</dd>
                    <dt class="yellow-title2">Reserva</dt>
                    <dd class="darker-blue-text3">INF./RESERVAS: Martes, miércoles y viernes de 13:30 a 15:00 en el tlfn. 918 92 02 98 </dd>               
                </dl>
            </div>
        </div>  
        <p class="darker-blue-text"><a class="linkEscuela" href="https://www.google.es/maps/place/IES+Alpajés/@40.0351807,-3.5936377,19.5z/data=!4m15!1m8!3m7!1s0xd420591a670138f:0xb1d3c829438b3c55!2sC.+de+las+Moreras,+28,+28300+Aranjuez,+Madrid!3b1!8m2!3d40.0350259!4d-3.5936485!16s%2Fg%2F11c5jmpqv0!3m5!1s0xd420596d78f31d9:0x50f7f2cd1583aa9b!8m2!3d40.0350388!4d-3.5936611!16s%2Fg%2F1z44b69_y?entry=ttu" target="_blank">Como llegar</a></p>
        <p class="darker-blue-text"><a class="linkEscuela" href="https://www.educa2.madrid.org/web/centro.ies.alpajes.aranjuez" target="_blank">Web</a></p>
    </div>
</div>
{% endblock %}