{% extends 'base.html' %}

{% block mainContent %}
<div class="foreign_container w80 container shadow pad-2rem">
    <h1 class="">Oferta</h1>
    <hr class="bg-color-darker-blue mar-bot-3rem">

    <h2 class="mar-bot-1rem">Datos de oferta</h2>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">

    <label class="dis-block font-16pt" for="offer-workplace-name">Nombre del centro de trabajo</label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="offer-workplace-name" name="offer-workplace-name" value="{{ context['workplace_name'] }}" disabled>
    <label class="dis-block font-16pt" for="offer-workplace-address">Dirección del centro de trabajo</label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="offer-workplace-address" name="offer-workplace-address" value="{{ context['workplace_address'] }}" disabled>

    <h3 class="mar-bot-1rem">Datos de contacto</h3>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
    <label class="dis-block font-16pt" for="offer-contact-name">Nombre de contacto</label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="offer-contact-name" name="offer-contact-name" value="{{ context['contact_name'] }}" disabled>
    <label class="dis-block font-16pt" for="offer-contact-phone">Teléfono de contacto</label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="offer-contact-phone" name="offer-contact-phone" value="{{ context['contact_phone'] }}" disabled>
    <label class="dis-block font-16pt" for="offer-contact-email">Correo de contacto</label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="email" id="offer-contact-email" name="offer-contact-email" value="{{ context['contact_email'] }}" disabled>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">

    <div id="extra-data" class="dis-grid dis-none">
        {% if context['contact_name_2'] is not none and context['contact_name_2'] != "" %}
            <label class="dis-block font-16pt" for="offer-contact-name-2">Nombre de contacto secundario</label>
            <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="offer-contact-name-2" name="offer-contact-name-2" value="{{ context['contact_name_2'] }}" disabled>
        {% endif %}
        {% if context['contact_phone_2'] is not none and context['contact_phone_2'] != "" %}
        <label class="dis-block font-16pt" for="offer-contact-phone-2">Teléfono de contacto secundario</label>
        <input class="w60 pad-input font-14pt mar-bot-2rem" type="tel" id="offer-contact-phone-2" name="offer-contact-phone-2" minlength="9" value="{{ context['contact_phone_2'] }}" disabled>
        {% endif %}
        {% if context['contact_email_2'] is not none and context['contact_email_2'] != "" %}
        <label class="dis-block font-16pt" for="offer-contact-email-2">Correo de contacto secundario</label>
        <input class="w60 pad-input font-14pt mar-bot-2rem" type="email" id="offer-contact-email-2" name="offer-contact-email-2" value="{{ context['contact_email_2'] }}" disabled>
        {% endif %}
    </div>

    <h2 class="mar-bot-1rem">Datos de demanda de empleo</h2>
    {% if context['job_demand'] is defined and not none %}
        {% for job_demand in context['job_demand'] %}
            <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
            <div class="azul" style=background-color:aliceblue;padding:2%;border-radius:5px;>
                <label class="dis-block font-16pt">Categoría profesional</label>
                <!-- SELECT (get <JOB_CATEGORY> data) -->
                {% for job_category in job_demand['job_category']%}
                    <p class="pad-input font-14pt mar-bot-2rem">{{ job_category }}</p>
                {% endfor %}
                <label class="dis-block font-16pt">Titulación de preferencia</label>
                <!-- SELECT (get <QUALIFICATION> data) -->
                {% for qualification in job_demand['qualification']%}
                    <p class="pad-input font-14pt mar-bot-2rem">{{ qualification }}</p>
                {% endfor %}
                <label class="dis-block font-16pt" for="job-demand-vacancies">Cantidad de puestos vacantes</label>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="number" min="1" step="1" id="job-demand-vacancies" name="job-demand-vacancies" value="{{ job_demand['vacancies'] }}" disabled>
                <label class="dis-block font-16pt">Tipo de jornada</label>
                <!-- RADIOGROUP (get <WORKING_DAY> data) -->
                <p class="pad-input font-14pt mar-bot-2rem">{{ job_demand['working_day'] }}</p>
                <label class="dis-block font-16pt">Turno</label>
                <!-- RADIOGROUP (get <SHIFT> data) -->
                <p class="pad-input font-14pt mar-bot-2rem">{{ job_demand['shift'] }}</p>
                <label class="dis-block font-16pt">Horario</label>
                <!-- RADIOGROUP (get <SCHEDULE> data) -->
                <p class="pad-input font-14pt mar-bot-2rem">{{ job_demand['schedule'] }}</p>
                <label class="dis-block font-16pt" for="job-demand-monthly-salary">Salario mensual </label>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="job-demand-monthly-salary" name="job-demand-monthly-salary" value="{{ job_demand['salary'] }}" disabled>
                <label class="dis-block font-16pt">Tipo de contrato </label>
                <!-- SELECT (get <CONTRACT_TYPE> data) -->
                <p class="pad-input font-14pt mar-bot-2rem">{{ job_demand['job_contract'] }}</p>
                <label class="dis-block font-16pt" for="job-demand-holidays">Vacaciones </label>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="job-demand-holidays" name="job-demand-holidays" value="{{ job_demand['holidays'] }}" disabled>
                <label class="dis-block font-16pt" for="job-demand-experience">Experiencia</label>
                <textarea class="w60 pad-input font-14pt mar-bot-2rem" id="job-demand-experience" name="job-demand-experience" maxlength="256" rows=3 disabled>{{ job_demand['experience'] }}</textarea>
                <label class="dis-block font-16pt">Idioma de preferencia </label>
                <!-- SELECT (get <LANGUAGE> data) -->
                {% for language in job_demand['language']%}
                    <p class="pad-input font-14pt mar-bot-2rem">{{ language }}</p>
                {% endfor %}
                <label class="dis-block font-16pt" for="job-demand-others">Otros </label>
                <textarea class="w60 pad-input font-14pt mar-bot-2rem" id="job-demand-others" name="job-demand-others" maxlength="256" rows=3 disabled>{{ job_demand['others'] }}</textarea>
                <label class="dis-block font-16pt mar-bot-1rem">Se requiere de vehículo propio</label>
                    <p class="pad-input font-14pt mar-bot-2rem">{{ job_demand['vehicle'] }}</p>
                <label class="dis-block font-16pt mar-bot-1rem">Se requiere de movilidad geográfica</label>
                <p class="pad-input font-14pt mar-bot-2rem">{{ job_demand['mov'] }}</p>
            </div>
        {% endfor %}
    {% else %}
        <h2>Esta oferta no tiene más datos</h2>
    {% endif %}
    {% if error %}
        <p><span>{{ error }}</span></p>
    {% endif %}
</div>
{% endblock %}