<!-- TODO revisar ids -->
{% extends 't-base.html' %}

{% block mainContent %}
<div class="foreign_container w80 container shadow pad-2rem">
    <h1 class="">Perfil de empresa</h1>
    <hr class="bg-color-darker-blue mar-bot-3rem">

    <h2 class="mar-bot-1rem">Datos de cuenta</h2>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
    <label class="dis-block font-16pt" for="user-email">Correo electrónico <span>:</span></label>
    <p class="">{{company_email}}</p>

    <h2 class="mar-bot-1rem">Datos empresariales</h2>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
    <label class="dis-block font-16pt" for="member-name">Nombre :</label>
    <p class="">{{company_name}}</p>

    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
    <label class="dis-block font-16pt" for="member-surname">Dirección :</label>
    <p class="">{{company_address}}</p>
    <label class="dis-block font-16pt" for="member-surname">C.P. :</label>
    <p class="">{{company_cp}}</p>
    <label class="dis-block font-16pt" for="member-surname">Ciudad :</label>
    <p class="">{{company_city}}</p>
    <label class="dis-block font-16pt" for="member-surname">Provincia :</label>
    <p class="">{{company_province}}</p>
    <label class="dis-block font-16pt" for="member-name">Descripción :</label>
    <p class="">{{company_name}}</p>

    <h2 class="mar-bot-1rem">Datos de contacto</h2>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
    <label class="dis-block font-16pt" for="member-name">Nombre :</label>
    <p class="">{{company_name}}</p>
    <label class="dis-block font-16pt" for="member-name">Correo electrónico :</label>
    <p class="">{{company_name}}</p>
    <label class="dis-block font-16pt" for="member-name">Teléfono :</label>
    <p class="">{{company_name}}</p>
</div>
{% endblock %}