<!-- INFO
TEXTBOX*: lENGUAJE
TEXTBOX*: Nivel
IMPUT FILE: Certificado -->
{% extends 't-base.html' %}

{% block mainContent %}

<div class="foreign_container">
    {{keyValue}}
    <h1>Formulario de idioma</h1>
    <br>
    <h2>Información de idioma</h2>
    <hr class="bg-color-darker-blue">
    <label class="dis-block font-16pt" for="">Nombre del idioma:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="dis-block font-16pt" for="">Lvl:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="dis-block font-16pt" for="">Certificado acreditativo:</label>
    <input class="w80 font-14pt" type="file" name="" id="">
    <br>
    <input class="pad-o5rem font-16pt" type="reset" value="Reset" onclick="resetForm('_form', '_rbgroup')">
    <input class="pad-o5rem font-16pt" type="submit" value="Submit">

</div>

{% endblock %}