<!-- INFO
TEXBOX: Email
TEXBOX_PASSWORD: PWD
TEXBOX_REPEAT_PASSWORD: PWD
BUTTON_LOGIN
BUTTON_REGISTER_COMPANY
BUTTON_REGISTER_MEMBER -->
{% extends 't-base-login.html' %}

{% block mainContent %}
<div class="dis-grid container w20 pad-2rem shadow mar-bot-3rem">
    <img class="how-to-center-a-div w40 mar-bot-3rem" src="{{ url_for('static', filename='resources/logo.png') }}" alt="aaahostur hosteleria turismo">
    <hr>
    <form class="dis-grid" action="/login" method="POST">
        <label class="dis-block font-16pt" for="user-login">Escribe tu email</label>
        <input class="w100 pad-input font-12pt dis-block mar-bot-1rem" type="email" name="user-login" id="user-login">
        <label class="dis-block font-16pt" for="user-passwd">Escribe tu contraseña</label>
        <input class="w100 pad-input font-12pt dis-block mar-bot-3rem" type="password" name="user-passwd" id="user-passwd">
        <input class="w100 pad-o5rem font-16pt" type="submit" value="Iniciar sesión">
        {% if error %}
            <p><span>{{ error }}</span></p>
        {% endif %}
    </form>
</div>
{% endblock %}