<!-- INFO
Datos Personales
TEXTBOX*: Nombre
TEXTBOX*: Apellidos
TEXTBOX*: DNI/NIE
RADIOGROUP*: Sexo{
Hombre, Mujer, Otro
}
DATE*: Fecha de nacimiento
TEXTBOX*: Direccion
TEXTBOX*: C.P.
TEXTBOX*: Ciudad
TEXTBOX*: Provincia
CHECKBOX: Correo en otra direccion{
    TEXTBOX*: Dir. efectos notificaciones postales
    TEXTBOX*: C.P. efectos notificaciones postales
    TEXTBOX*: Ciudad efectos notificaciones postales
    TEXTBOX*: Provincia efectos notificaciones postales
}

TEXTBOX*: Telefono Móvil
TEXTBOX: Telefono Fijo
IMPUT FILE: Foto de perfil
ESTO NO VA AQUI------------------------------------------------------------------------------x
                                                        RADIOGROUP: Vehículo propio{
                                                            No,Si
                                                        }
                                                        RADIOGROUP: Movilidad geografica{
                                                            No,Si
                                                        }
                                                        CHECKBOX: Tiene Discapacidad{
                                                            TEXTBOX*: Grado
} -->

<!-- FALTAN TODOS LOS ID DE LOS COMPONENTES -->
{% extends 't-base.html' %}

{% block mainContent %}

<div class="foreign_container">
    {{keyValue}}
    <h1>Formulario de inscripción de miembros</h1>
    <br>
    <br>
    <h2>Introduce tus datos</h2>
    <hr class="bg-color-darker-blue">
    <label class="dis-block font-16pt" for="">Correo electrónico:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="dis-block font-16pt" for="">Introduce tu contraseña:</label>
    <input class="w80 pad-input font-14pt" type="password" name="" id="">
    <br>
    <label class="dis-block font-16pt" for="">Repite tu contraseña:</label>
    <input class="w80 pad-input font-14pt" type="password" name="" id="">
    <br>
    <h2>Introduce tus datos personales</h2>
    <hr class="bg-color-darker-blue">
    <label class="dis-block font-16pt" for="">Nombre:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="dis-block font-16pt" for="">Apellidos:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="dis-block font-16pt" for="">DNI/NIE:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="dis-block font-16pt" for="">Sexo:</label>
    <label class="font-14pt custom-cr-input" for="" onclick="changeRadioGroupButtonState('_rbgroup', this)">
        Hombre
        <input class="_rbgroup" type="radio" name="rb-group" id="rb1">
        <span class="radiomark"></span>
    </label>
    <label class="font-14pt custom-cr-input" for="" onclick="changeRadioGroupButtonState('_rbgroup', this)">
        Mujer
        <input class="_rbgroup" type="radio" name="rb-group" id="rb1">
        <span class="radiomark"></span>
    </label> 
    <label class="font-14pt custom-cr-input" for="" onclick="changeRadioGroupButtonState('_rbgroup', this)">
        Nicholas Cage
        <input class="_rbgroup" type="radio" name="rb-group" id="rb1">
        <span class="radiomark"></span>
    </label> 
    <label class="font-14pt custom-cr-input" for="" onclick="changeRadioGroupButtonState('_rbgroup', this)">
        Reptiliano
        <input class="_rbgroup" type="radio" name="rb-group" id="rb1">
        <span class="radiomark"></span>
    </label> 
    <label class="font-14pt custom-cr-input" for="" onclick="changeRadioGroupButtonState('_rbgroup', this)">
        Otro
        <input class="_rbgroup" type="radio" name="rb-group" id="rb1">
        <span class="radiomark"></span>
    </label> 
    <label class="font-14pt custom-cr-input" for="" onclick="changeRadioGroupButtonState('_rbgroup', this)">
        Prefiero no decirlo
        <input class="_rbgroup" type="radio" name="rb-group" id="rb1">
        <span class="radiomark"></span>
    </label> 
    <br>
    <label class="dis-block font-16pt" for="">Fecha de nacimiento:</label>
    <input class="w80 pad-input font-14pt" type="date" name="" id="">
    <br>
    <label class="dis-block font-16pt" for="">A continuación escriba su dirección completa</label>
    <br>
    <label class="dis-block font-16pt" for="">Dirección:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="dis-block font-16pt" for="">C.P.:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="dis-block font-16pt" for="">Ciudad:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="dis-block font-16pt" for="">Provincia:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="font-14pt custom-cr-input" for="" onclick="changeCheckboxState(this)">
        ¿Dispone de otra dirección distinta a la anterior para recibir notificaciones postales?
        <br>
        En caso afirmativo seleccione la casilla.
        <input type="checkbox" name="" id="cb1">
        <span class="checkmark"></span>
    </label>
    <!-- falta la direccion alternativa-->
    <br>
    <label class="dis-block font-16pt" for="">Teléfono móvil:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="dis-block font-16pt" for="">Teléfono fijo:</label>
    <input class="w80 pad-input font-14pt" type="text">
    <br>
    <label class="dis-block font-16pt" for="">Inserte una foto de perfil:</label>
    <input class="w80 font-14pt" type="file" name="" id="">
    <br>
    <label class="dis-block font-16pt" for="">¿Dispone de vehículo propio?</label>
    <label class="font-14pt custom-cr-input" for="" onclick="changeRadioGroupButtonState('_rbgroup', this)">
        Hombre
        <input class="_rbgroup" type="radio" name="rb-group" id="rb1">
        <span class="radiomark"></span>
    </label>
</div>

{% endblock %}
