<!-- TODO revisar ids -->
{% extends 't-base.html' %}

{% block mainContent %}
<div class="foreign_container w80 container shadow pad-2rem">
    <h1 class="">Formulario de registro de miembro</h1>
    <hr class="bg-color-darker-blue mar-bot-3rem">

    <h2 class="mar-bot-1rem">Datos de cuenta</h2>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">

    <form class="dis-grid" action="{{ url_for(request.endpoint) }}" method="POST">
        <label class="dis-block font-16pt" for="user-email">Correo electrónico <span>*</span></label>
        <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="user-email" name="user-email" required>
        <label class="dis-block font-16pt" for="user-pwd">Contraseña <span>*</span></label>
        <input class="w60 pad-input font-14pt mar-bot-2rem" type="password" id="user-pwd" name="user-pwd" required>
        <label class="dis-block font-16pt" for="user-pwd-2">Introduzca de nuevo su contraseña <span>*</span></label>
        <input class="w60 pad-input font-14pt mar-bot-2rem" type="password" id="user-pwd-2" name="user-pwd-2" required>
        <h2 class="mar-bot-1rem">Datos personales</h2>
        <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
        <label class="dis-block font-16pt" for="member-name">Nombre <span>*</span></label>
            <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-name" name="member-name" required>
            <label class="dis-block font-16pt" for="member-surname">Apellidos <span>*</span></label>
            <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-surname" name="member-surname" required>
            <label class="dis-block font-16pt" for="member-dni">DNI/NIE <span>*</span></label>
            <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-dni" name="member-dni" required>
            <label class="dis-block font-16pt mar-bot-1rem" for="rbgroup-gender">Genero <span>*</span></label>
            <div id="rbgroup-gender" class="mar-bot-2rem">
                <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-gender', this)">
                    Hombre
                    <input class="rbgroup-gender" type="radio" name="rb-group-gender" id="rbgroup-gender-rb1" value="H" checked>
                    <span class="radiomark"></span>
                </label>
                <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-gender', this)">
                    Mujer
                    <input class="rbgroup-gender" type="radio" name="rb-group-gender" id="rbgroup-gender-rb2" value="M">
                    <span class="radiomark"></span>
                </label>
                <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-gender', this)">
                    Otro
                    <input class="rbgroup-gender" type="radio" name="rb-group-gender" id="rbgroup-gender-rb3" value="O">
                    <span class="radiomark"></span>
                </label>
            </div>
            <label class="dis-block font-16pt" for="member-birthdate">Fecha de nacimiento <span>*</span></label>
            <input class="w20 pad-input font-14pt mar-bot-2rem" type="date" name="member-birthdate" id="member-birthdate" required>
            <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
            <label class="dis-block font-16pt" for="member-address">Dirección <span>*</span></label>
            <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-address" name="member-address" required>
            <div class="w60 dis-flex mar-bot-2rem">
                <div class="row">
                    <label class="dis-block font-16pt" for="member-cp">C.P. <span>*</span></label>
                    <input class="pad-input font-14pt" type="number" id="member-cp" name="member-cp" required>
                </div>
                <div class="row">
                    <label class="dis-block font-16pt" for="member-city">Ciudad <span>*</span></label>
                    <input class="pad-input font-14pt" type="text" id="member-city" name="member-city" required>
                </div>
            </div>
            <label class="dis-block font-16pt" for="member-province">Provincia <span>*</span></label>
            <input class="w60 pad-input font-14pt mar-bot-1rem" type="text" id="member-province" name="member-province" required>
            <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
            <label class="font-14pt custom-cr-input mar-bot-2rem" onclick="showPNAData(this)">
                ¿Recibe el correo en otra dirección?
                <input type="checkbox" name="pna_cb" id="pna_cb">
                <span class="checkmark"></span>
            </label>
            <div id="pna_data" class="dis-grid dis-none">
                <label class="dis-block font-16pt" for="member-pna-address">Dirección a efectos de notificaciones
                    postales <span>*</span></label>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="member-pna-address" name="member-pna-address">
                <div class="w60 dis-flex mar-bot-2rem">
                    <div class="row">
                        <label class="dis-block font-16pt" for="member-pna-cp">C.P. a efectos de notificaciones
                            postales <span>*</span></label>
                        <input class="pad-input font-14pt" type="number" id="member-pna-cp" name="member-pna-cp">
                    </div>
                    <div class="row">
                        <label class="dis-block font-16pt" for="member-pna-city">Ciudad a efectos de notificaciones
                            postales <span>*</span></label>
                        <input class="pad-input font-14pt" type="text" id="member-pna-city" name="member-pna-city">
                    </div>
                </div>
                <label class="dis-block font-16pt" for="member-pna-province">Provincia a efectos de notificaciones
                    postales <span>*</span></label>
                <input class="w60 pad-input font-14pt mar-bot-1rem" type="text" id="member-pna-province" name="member-pna-province">
            </div>
            <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
            <label class="dis-block font-16pt" for="member-mobile">Teléfono móvil <span>*</span></label>
            <input class="w60 pad-input font-14pt mar-bot-2rem" type="number" name="member-mobile" id="member-mobile" minlength="9" required>
            <label class="dis-block font-16pt" for="member-landline">Teléfono fijo</label>
            <input class="w60 pad-input font-14pt mar-bot-2rem" type="number" name="member-landline" id="member-landline" minlength="9">
            <label class="dis-block font-16pt mar-bot-1rem" for="member-profilepic">Foto de perfil</label>
            <input class="w80 font-14pt mar-bot-2rem" type="file" name="member-profilepic" id="member-profilepic">
            <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
            <label class="dis-block font-16pt mar-bot-1rem" for="rbgroup-car">Vehículo propio</label>
            <div id="rbgroup-car" class="mar-bot-2rem">
                <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-car', this)">
                    No
                    <input class="rbgroup-car" type="radio" name="rb-group-car" id="rbgroup-car-rb1" value="n" checked>
                    <span class="radiomark"></span>
                </label>
                <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-car', this)">
                    Si
                    <input class="rbgroup-car" type="radio" name="rb-group-car" id="rbgroup-car-rb2" value="y">
                    <span class="radiomark"></span>
                </label>
            </div>
            <label class="dis-block font-16pt mar-bot-1rem" for="rbgroup-mov">Movilidad geográfica</label>
            <div id="rbgroup-mov" class="mar-bot-2rem">
                <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-mov', this)">
                    No
                    <input class="rbgroup-mov" type="radio" name="rb-group-mov" id="rbgroup-mov-rb1" value="n" checked>
                    <span class="radiomark"></span>
                </label>
                <label class="font-14pt custom-cr-input" onclick="changeRadioGroupButtonState('rbgroup-mov', this)">
                    Si
                    <input class="rbgroup-mov" type="radio" name="rb-group-mov" id="rbgroup-mov-rb2" value="y">
                    <span class="radiomark"></span>
                </label>
            </div>
            <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
            <label class="font-14pt custom-cr-input mar-bot-2rem" onclick="showHandicapData(this)">
                ¿Tiene alguna discapacidad?
                <input type="checkbox" name="handicap_cb" id="handicap_cb">
                <span class="checkmark"></span>
            </label>
            <div id="handicap_data" class="dis-grid dis-none">
                <label class="dis-block font-16pt" for="member-handicap">Indica el grado <span>*</span></label>
                <input class="w60 pad-input font-14pt mar-bot-2rem" type="number" id="member-handicap" name="member-handicap">
            </div>
            <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
            <p class="">Los campos con <span class="font-14pt">*</span> son obligatorios</p>
            <div class="w80 dis-flex flex-right">
                <input class="w20 pad-o5rem font-16pt" type="submit" value="Enviar &rarr;">
            </div>
    </form>
</div>
{% endblock %}
