<!-- TODO revisar ids -->
{% extends 't-base.html' %}

{% block mainContent %}
{{keyValue}}
<div class="foreign_container w80 container shadow pad-2rem">
    <h1 class="">Formulario de registro de empresa</h1>
    <hr class="bg-color-darker-blue mar-bot-3rem">

    <h2 class="mar-bot-1rem">Datos de cuenta</h2>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
    <label class="dis-block font-16pt" for="user-email">Correo electrónico <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="user-email"required>
    <label class="dis-block font-16pt" for="user-pwd">Contraseña <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="password" id="user-pwd"required>
    <label class="dis-block font-16pt" for="user-pwd-2">Introduzca de nuevo su contraseña <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="password" id="user-pwd-2"required>

    <h2 class="mar-bot-1rem">Datos de empresa</h2>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
    <label class="dis-block font-16pt" for="company-name">Nombre <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="company-name"required>
    <label class="dis-block font-16pt" for="company-cif">CIF <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="company-cif"required>
    <label class="dis-block font-16pt" for="member-sex">Tipo de empresa según su ámbito geográfico <span>*</span></label>
    <div id="rbgroup-gender" class="mar-bot-2rem">
        <label class="font-14pt custom-cr-input" for="" onclick="changeRadioGroupButtonState('rbgroup-gender', this)">
            Internacional
            <input class="rbgroup-gender" type="radio" name="rb-group-gender" id="rbgroup-gender-rb1" value="H" checked>
            <span class="radiomark"></span>
        </label>                
        <label class="font-14pt custom-cr-input" for="" onclick="changeRadioGroupButtonState('rbgroup-gender', this)">
            Nacional
            <input class="rbgroup-gender" type="radio" name="rb-group-gender" id="rbgroup-gender-rb2" value="M">
            <span class="radiomark"></span>
        </label>
    </div>

    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
    <label class="dis-block font-16pt" for="company-address">Dirección <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="company-address"required>
    <label class="dis-block font-16pt" for="company-cp">C.P. <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="company-cp"required>
    <label class="dis-block font-16pt" for="company-city">Ciudad <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="company-city"required>
    <label class="dis-block font-16pt" for="company-province">Provincia <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="company-province"required>
    <label class="dis-block font-16pt" for="company-desc">Descripción</label>
    <p class="mar-bot-1rem">Introduzca una breve descripción de su empresa (opcional)</p>
    <textarea class="w60 pad-input font-14pt mar-bot-2rem" name="company-desc" id="company-desc" maxlength="256" rows=3></textarea>


    <h2 class="mar-bot-1rem">Datos de representante</h2>
    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
    <label class="dis-block font-16pt" for="company-rep-name">Nombre <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="company-rep-name"required>
    <label class="dis-block font-16pt" for="company-rep-email">Correo electrónico <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="text" id="company-rep-email"required>
    <label class="dis-block font-16pt" for="company-rep-number">Teléfono <span>*</span></label>
    <input class="w60 pad-input font-14pt mar-bot-2rem" type="number" id="company-rep-number"required>

    <hr class="w80 bg-color-not-that-yellow mar-bot-2rem">
    <p class="">Los campos con <span class="font-14pt">*</span> son obligatorios</p>
    <div class="w80 dis-flex flex-right">
        <input class="w20 pad-o5rem font-16pt" type="submit" value="Enviar &rarr;">
    </div>
</div>
{% endblock %}