# PARA QUE FUNCIONE LA API SE NECESITA HACER
# Flask-OAuthlib for authentication server
# mysql-connector-python to connect to db
# python-dotenv to get data from '.env'
# poner versiones de librerías
# convención nombres:
# - hola_soy_un_paquete
# - HolaSoyUnaClase
# - HOLASOYUNACONSTANTE
# - hola_soy_un_metodo
# - hola_soy_una_variable
# - app.route('/api/v0/path')

pip install Flask Flask-OAuthlib mysql-connector-python python-dotenv flask_mysqldb
dash==2.9.3 # pip install dash==2.9.3
pandas==1.3.2
dash-extensions==0.0.58
dash-bootstrap-components==1.4.1