# PARA QUE FUNCIONE LA API SE NECESITA HACER

pip install python-dotenv passlib mysqlclient Flask SQLAlchemy flask-sqlalchemy SQLAlchemy-Utils bcrypt PyJWT
python-dotenv==0.21.0
mysqlclient==2.1.1
Flask==2.2.2
SQLAlchemy==2.0.13
flask-sqlalchemy==3.0.2
SQLAlchemy-Utils==0.38.3
pip==23.1.2
bcrypt==4.0.1
PyJWT==2.7.0


# convención nombres:
# - hola_soy_un_paquete
# - HolaSoyUnaClase
# - HOLASOYUNACONSTANTE
# - hola_soy_un_metodo
# - hola_soy_una_variable
# - app.route('/api/v0/path')